# Arquivos de log
logs
*.log
npm-debug.log*

# Ignora o arquivo do banco de dados e o cache, mas permite que a pasta
# de migrations seja publicada.
src/database/database.sqlite
src/database/cache/

# Arquivo de configuração do Docker
Dockerfile

# Pasta de testes e arquivos de configuração de teste
__tests__/
*.test.js
*.spec.js
jest.config.js

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Configurações de editor
.vscode/