# Arquivos de log
logs
*.log
npm-debug.log*
yarn-debug.log*

# Diretório do banco de dados e cache.
# Essencial para não publicar o banco de dados local ou o cache da API.
src/database/

# Arquivo de configuração do Docker
Dockerfile

# Pasta de testes e arquivos de configuração de teste
__tests__/
*.test.js
*.spec.js
jest.config.js

# Arquivos gerados pelo sistema operacional
.DS_Store
Thumbs.db

# Configurações de editor
.vscode/