# Código-fonte
src/

# Arquivos de configuração do TypeScript e Knex
tsconfig.json
knexfile.ts

# Arquivos de teste e configuração do Jest
jest.config.js
tests/

# Arquivos do GitHub e documentação interna
.github/
PUBLISHING_GUIDE.md

node_modules/
node-v20.19.5-linux-x64
docs/